{% extends 'base.html.twig' %}

{% block title %}Create Listing{% endblock %}

{% block body %}

    <h1>Create a Listing</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    
{% endblock %}
